<?xml version="1.0"?>

 <config>
 		<modules>
 			<Query_SalesRecovery>
 				<version>1.0.0</version>
 			</Query_SalesRecovery>
 		</modules>
 		
 		<admin>
 			<routers>
 				<Query_SalesRecovery>
 					<use>admin</use>
 					<args>
 						<module>Query_SalesRecovery</module>
 						<frontName>querysalesrecovery</frontName>
 					</args>
 				</Query_SalesRecovery>
 			</routers>
 		</admin>
 		<adminhtml> 		
 			<translate>
 				<modules>
 					<Query_SalesRecovery>
 						<files>
 							<default>Query_SalesRecovery.csv</default>
 						</files>
 					</Query_SalesRecovery>
 				</modules>
 			</translate>
 			<layout>
 				<updates>
 					<Query_SalesRecovery>
 						<file>query_salesrecovery.xml</file>>
 					</Query_SalesRecovery>
 				</updates>
 			</layout>
 		</adminhtml>
 		<global>
 			<modules>
 				<Query_SalesRecovery>
 					<class>Query_SalesRecovery_Model</class>
 				</Query_SalesRecovery> 			
 			</modules>
 			<helpers>
 				<Query_SalesRecovery>
 					<class>Query_SalesRecovery_Helper</class>
 				</Query_SalesRecovery>
 			</helpers>
 			<models>
 				<Query_SalesRecovery>
 					<class>Query_SalesRecovery_Model</class>
 					<resourceModel>Query_SalesRecovery_mysql4</resourceModel>
 				</Query_SalesRecovery>
 				<Query_SalesRecovery_mysql4>
 				   <class>Query_SalesRecovery_Model_Mysql4</class>
 				   <entities>
 				    	<SalesRecovery>
 				    		<table>query_sales_customer_ranking</table>
 				    	</SalesRecovery>
 				    </entities>
 				</Query_SalesRecovery_mysql4>
 			</models>
 			<blocks>
 				<Query_SalesRecovery>
	 				<class>Query_SalesRecovery_Block</class>
	 			</Query_SalesRecovery>
 			</blocks>
 			<resources>
 				<Query_SalesRecovery_Setup>
					<setup>
						<module>Query_SalesRecovery</module>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
				</Query_SalesRecovery_Setup>
				<Query_SalesRecovery_write>
					<connection>
						<use>core_write</use>
					</connection>
				</Query_SalesRecovery_write>
				<Query_SalesRecovery_read>
					<connection>
						<use>core_read</use>
					</connection>
				</Query_SalesRecovery_read>
 			</resources>
 		</global>
 </config>